/* Press */

.press {
    @extend %bg-dark-config;
    padding: 7rem 0;

    .press-row {
        
        .press-card {
            border-left: 1px solid $txt-color-light;
            padding-left: 2rem;
            padding-right: 1.5rem;

            .press-title-sm {
                font-weight: 800;
                font-size: .8rem;
                letter-spacing: .5px;
                color: $txt-color-highlights;
                padding: 1.5rem 0 0 0;
            }

            .press-title {
                font-weight: 900;
                font-size: 1.7rem;
                color: $txt-color-light;
            }

            p {
                font-weight: 400;
                font-size: .75rem;
                color: $txt-color-light;
            }

            .btn {
                margin: 2rem 0 0 0;
                @include btn-config (.9rem);
            }
        }

        .press-card-title,
        .press-card-title-eng {
            text-align: right;
            font-weight: 800;
            color: $txt-color-light;
            text-transform: uppercase;
            font-size: 2.2rem;
            letter-spacing: 4px;
            border-right: .5px solid $txt-color-light;
            padding-right: 1.5rem;

            &:after{
                display: block;
                font-size: .7rem;
                font-weight: 500;
                padding: .3rem 0;
                letter-spacing: 2px;
                color: $txt-color-highlights;
            }
        }

        .press-card-title:after{
            content: " << | últimas notas";
        }

        .press-card-title-eng:after{
            content: " << | latest news";
        }      
    }    
}