/* Store Page Style */

#store {
    @extend %bg-dark-config;
    padding: 8rem 0 0 0;

    .store-tit {
        color: $txt-color-light;
        font-size: 2.7rem;
        font-weight: 800;
        letter-spacing: 3px;
        margin: 0;
    }

    .store-tit-sm {
        color: $txt-color-highlights;
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .5px;
    }

    .filter-container {
        margin: 3rem 0 2rem -.7rem;
        text-align: left;

        #product-search {
            margin: 1rem .4rem 0 0;
            height: 2.28rem;
            border-radius: 18px;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.473);
            font-size: 1rem;
            color: $txt-color-light;
        }
    
        ::placeholder{
            padding-left: 1rem;
            color: $txt-color-light;
            opacity: 1;
        }

        #collections {
            margin: 1rem .4rem 0 0;
            height: 2.28rem;
            border-radius: 18px;
            background-color: transparent;
            color: $txt-color-light;
            font-size: 1rem;
            padding-left: 1rem;
        }
    
        #product-filter {
            margin: 1rem 0 0 0;
            @include btn-config (.85rem);
            border-radius: 18px;
        }
    }
    

    .card {
        background-color: transparent;
        color: $txt-color-light;
        border-left: 1px solid $txt-color-light;

        .piece-name {
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: .5px;
        }

        .piece-value {
            font-weight: 500;
            font-size: .8rem;
            letter-spacing: 1px;
            margin: -.8rem 0 1.5rem 0;
            padding-top: .8rem;

            &::before {
                content: '$ ';
                color: $txt-color-light;
                font-size: .8rem;
                font-weight: 600;
            }

            &::after {
                content: ',00';
                color: $txt-color-light;
                font-size: .8rem;
                font-weight: 400;
            }
        }
        
        .store-img {
            margin: 0 auto;
            padding: 0 0 1rem 0;

            &:hover {
                opacity: 90%;
            }
        }

        .modal-content {
            background-color: transparent;
            border: none;
            width: 100%;
        }

        .ver-mas-btn {
            @include btn-config (.8rem)
        }
    }
}

.cart-tooltip {
    background-color: rgb(175, 39, 39);
    text-decoration: none;
    font-weight: 500;
    font-size: .6rem;
    border: 1px solid $txt-color-light;
    border-radius: 30px;
    padding: .2rem .6rem;
    margin-right: -1rem;
    position: relative;
    top: 8px;
    z-index: 10;
    display: none;
}

.fa-shopping-basket {
    margin-right: .5rem;
}
