/* Extends */


// Backgrounds
%bg-dark-config {
    background: url(../images/background.jpg);
    background-size: cover;
}

%bg-light-config {
    background: url(../images/background2.jpg);
    background-size: cover;
}

// Button Animations
%pulsate {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;  
}

%fade-in-bck {
	-webkit-animation: fade-in-bck 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bck 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



