// Variables

// COLORES
    // Textos
        $txt-color-dark: #000;
        $txt-color-light: #fff;
        $txt-color-highlights: #CAA682;
    // Backgorunds
        $bg-color-dark: #000;
        $bg-color-light: #fff;
    // Buttons & Hovers
        $btn-color: #CAA682;
        $hover-color: #7e7e7e;
        $hover-color-dark: #000;



